hr {
  border-bottom: 0.1rem solid #E45F56;
  max-width: 4rem;
  margin-top: 0;
}

.btn:hover {
  color: #424242;
}

.shadow {
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
/*slick-slider custom*/
.slide img {
  max-width: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:focus {
  outline: none;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -2.5rem;
  display: none!important;
}

.slick-slider:hover .prev-arrow {
  display: inline-block!important;
  color: #E45F56;
  left: 3rem;
  z-index: 9;
  font-size: 4rem;
}

.slick-slider:hover .next-arrow {
  display: inline-block!important;
  color: #E45F56;
  right: 3rem;
  font-size: 4rem;
}

.slick-slider {
  background-color: none;
}

.slick-dots li button:before {
  color: #E45F56;
}

.slick-dots li.slick-active button:before {
  color: #E45F56 !important;
}
/* google maps */
iframe {
  border: 0;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
/* faciliteiten list items */
#faciliteiten span {
  display: inline-block;
  text-align: center;
  width: 2rem;
  margin-right: 2rem;
}
/*catering*/
#catering i {
  font-size: 5rem;
}

.price {
  width: 9rem;
}
