{% if page == "index" %}
<main class="container-fluid p-0 ">

  <!--First section-->

  <section id="over" class="container py-5 mt-5">
    <div class="row">
      <div class="col pb-5 text-center">
        <h1>Vergaderruimte Rotterdam View</h1>
        <hr>
      </div>
    </div>
    <div class="row text-md-left">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <p>Onvergetelijk vergaderen in het hart van Rotterdam? Ervaar de kracht van vergaderlocatie Rotterdam View.
          Een inspirerende en complete vergaderruimte met uitzicht op de boten in de Scheepmakershaven en Erasmusbrug.
          In het centrum van de stadsdriehoek, met de Coolsingel, Blaak en Oude Haven op steenworp afstand. Rotterdamser kan niet!
        </p>
        <p>Vergaderruimte Rotterdam View ligt midden in het centrum en is uitstekend bereikbaar. Metro-, tram- en bushalte
          Leuvehaven ligt op vijf minuten loopafstand en parkeren kan eenvoudig in de naastgelegen parkeergarage.
        </p>
        <p><strong>Behoefte aan meer dan alleen vergaderen?</strong> Combineer uw meeting in Rotterdam View met een boottocht,
          <a href="https://puurrotterdam.nl/sport-en-spel/citygames/citygame-de-erfenis" target="_blank" class="text-red">smartphonegame</a>,
          <a href="https://puurrotterdam.nl/workshops/creatieve-workshops/" target="_blank" class="text-red">creatieve workshop</a> of ander leuk uitje in Rotterdam.
          Op verzoek verzorgen wij ook ideale vergaderbreaks met een <a href="https://puurrotterdam.nl/" target="_blank" class="text-red">proeverij</a>,
          teamtraining of energizer. Bekijk alle mogelijkheden op <a href="https://puurrotterdam.nl" target="_blank" class="text-red">Puurrotterdam.nl</a>
          of neem contact met ons op via <a href="tel:+3110-7271045" class="text-red">010-7271045</a>
          wij stellen graag een mooi programma voor u samen.
        </p>
      </div>
  </section>

  <!--Second section / slider-->
  <section id="slider" class="container-fluid bg-lightgrey py-5 mt-5">
    <div class="slideshow">
      <div class="slide">
        <img src="images/Rotterdam-View.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="images/Rotterdam-View-Coffee.jpg" alt="">
      </div>
      <div class="slide">
        <img src="images/Vergaderruimte-Rotterdam-View-4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="images/Vergaderruimte-Rotterdam-View-5.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="images/Vergaderruimte-Rotterdam-View-18.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="images/Vergaderruimte-Rotterdam-View-22.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="images/Lounge-Rotterdam-View.jpg" alt="" />
      </div>
    </div>
  </section>

  <!--third section / Prijzen-->

  <section id="prijzen" class="container py-5 mt-5 text-center">
    <div class="row">
      <div class="col pb-5 text-center">
        <h1>Prijzen</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="border rounded-lg p-3">
          <h2>Dagdeel</h2>
          <p>Van 09:00 tot 13:00 | Van 13:00 tot 17:00</p>
          <h2 class="font-weight-bold">€ 250,-</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="border rounded-lg p-3">
          <h2>Dag</h2>
          <p>Van 09:00 tot 17:00</p>
          <h2 class="font-weight-bold">€ 450,-</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="border rounded-lg p-3">
          <h2>Extra uren</h2>
          <p>Prijs per extra uur</p>
          <h2 class="font-weight-bold">€ 70,-</h2>
        </div>
      </div>
    </div>
  </section>

  <!--fourth section / Faciliteiten-->

  <section id="faciliteiten" class="container-fluid bg-lightgrey py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col pb-5 text-center">
          <h1>Faciliteiten</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-sm-12 col-md-6 col-xl-6">
          <table class="table table-borderless mb-0 text-left">
            <tr>
              <td>
                <i class="fas fa-users text-red"></i>
              </td>
              <td>
                Maximaal 30 personen
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-train text-red"></i>
              </td>
              <td>
                5 minuten lopen vanaf metrostation Leuvehave
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-parking text-red"></i>
              </td>
              <td>
                Parkeren voor €2,00 per uur
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-wifi text-red"></i>
              </td>
              <td>
                Gratis WiFi
              </td>
            </tr>
          </table>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-xl-6">
          <table class="table table-borderless mb-0 text-left">
            <tr>
              <td>
                <i class="fas fa-utensils text-red"></i>
              </td>
              <td>
                Catering naar wens in te vullen
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-female text-red"></i>
              </td>
              <td>
                Gastvrouw aanwezig bij ontvangst en lunch
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-coffee text-red"></i>
              </td>
              <td>
                Nespresso koffie en biologische thee
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-tv text-red"></i>
              </td>
              <td>
                Gratis gebruik 60 inch flatscreen TV
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!--fifth section / Catering-->

  <section id="catering" class="container py-5 mt-5 text-center">
    <div class="row">
      <div class="col pb-5 text-center">
        <h1>Catering</h1>
        <hr>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-12 col-md-12">
        <p class="text-left">Goed eten zorgt voor verbintenis. Alles kan! Hier geven we je een aantal opties.
          Denk aan (appel) gebak van Dudok of Koekela, heerlijke sushi, luxe borrelhapjes
          of een uitgebreide indonesische rijsttafel.
          Heeft u meer wensen? Bel ons op <a href="tel:+3110-7271045" class="text-red">010-7271045</a>, wij vervullen graag uw cateringwensen.
      </div>
    </div>

    <div class="row mb-4 border rounded-lg">
      <div class="col-sm-12 col-md-3 pb-4 m-auto">
        <i class="fas fa-coffee text-red"></i>
      </div>
      <div class="col-sm-12 col-md-9 table-responsive">
        <table class="table table-borderless text-left">
          <tr>
            <th colspan="2" class="text-center">Koffie & Thee</th>
          </tr>
          <tr>
            <td>
              1e dagdeel
            </td>
            <td class="text-right price">
              € 12,50 p.p.
            </td>
          </tr>
          <tr>
            <td>
              2e / 3e dagdeel
            </td>
            <td class="text-right price">
              € 7,50 p.p.
            </td>
          </tr>
          <tr>
            <td>
              extra uren
            </td>
            <td class="text-right price">
              € 2,50 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Gesorteerd gebak
            </td>
            <td class="text-right price">
              € 4,50 p.p.
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mb-4 border rounded-lg">
      <div class="col-sm-12 col-md-3 pb-4 m-auto">
        <i class="fas fa-utensils text-red"></i>
      </div>
      <div class="col-sm-12 col-md-9 table-responsive">
        <table class="table table-borderless text-left">
          <tr>
            <th colspan="2" class="text-center">Lunch</th>
          </tr>
          <tr>
            <td>
              Assortiment luxe belegde broodjes, melk en jus d'orange
            </td>
            <td class="text-right price">
              € 12,50 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Handfruit
            </td>
            <td class="text-right price">
              € 2,00 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Croissant
            </td>
            <td class="text-right price">
              € 2,00 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Gesorteerd gebak
            </td>
            <td class="text-right price">
              € 4,50 p.p.
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mb-4 border rounded-lg">
      <div class="col-sm-12 col-md-3 pb-4 m-auto">
        <i class="fas fa-glass-martini text-red"></i>
      </div>
      <div class="col-sm-12 col-md-9 table-responsive">
        <table class="table table-borderless text-left">
          <tr>
            <th colspan="2" class="text-center">Borrel</th>
          </tr>
          <tr>
            <td>
              Borrelnoten mix
            </td>
            <td class="text-right price">
              € 2,75 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Diverse soorten kaas
            </td>
            <td class="text-right price">
              € 9,50 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Borrelmix (jonge kaas, worst, mix van borrelnoten en chips)
            </td>
            <td class="text-right price">
              € 7,00 p.p.
            </td>
          </tr>
          <tr>
            <td>
              Drankjes
            </td>
            <td class="text-right price">
              € 2,00 p.p.(vanaf prijs)
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <!-- sixth section / Information contactform-->
  <section id="form-informatie" class="container-fluid bg-lightgrey py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Contact</h1>
          <hr>
        </div>
      </div>
      <form class="py-3">
        <div class="row m-0 justify-content-between">
          <div class="col-10 pt-3 text-center">
            <p>Neem contact met ons op via onderstaand formulier voor meer informatie over uw wensen.</p>
            <p>Velden met een * zijn verplicht</p>
          </div>
        </div>
        <div class="p-3">
          <div class="form-group">
            <label for="aanhef">Aanhef *</label>
            <div class="row pl-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="aanhef" id="radio1" value="Dhr." checked>
                <label class="form-check-label" for="radio1">
                  Dhr.
                </label>
              </div>
              <div class="form-check form-check-inline pl-3">
                <input class="form-check-input" type="radio" name="aanhef" id="radio2" value="Mevr.">
                <label class="form-check-label" for="radio2">
                  Mevr.
                </label>
              </div>
            </div>
          </div>
          <label for="voornaam">Naam *</label>
          <div class="row">
            <div class="form-group col-md-5">
              <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam" class="form-control w-100">
            </div>
            <div class="form-group col-md-7">
              <input type="text" id="achternaam" name="achternaam" placeholder="Achternaam" class="form-control w-100">
            </div>
          </div>
          <div class="form-group">
            <label for="bedrijfsnaam">Bedrijfsnaam</label>
            <input type="text" id="bedrijfsnaam" name="bedrijfsnaam" placeholder="Optioneel" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="text" id="email" name="email" placeholder="voorbeeld@voorbeeld.nl" class="form-control">
          </div>
          <div class="form-group">
            <label for="telefoon">Telefoonnummer *</label>
            <input type="number" id="telefoon" name="telefoon" class="form-control">
          </div>
          <div class="form-group">
            <label for="vragen">Vragen/Opmerkingen *</label>
            <textarea name="name" rows="4" cols="100" class="form-control"></textarea>
          </div>
          <div class="text-center">
            <input class="btn shadow-sm" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--seventh section / Google map-->

  <section id="locatie" class="container py-5 mt-5">
    <div class="row">
      <div class="col-12 pb-5 text-center">
        <h1>Locatie</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <iframe class="shadow vh-30" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.118642195321!2d4.483180515988891!3d51.91354647970395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4336712788d4f%3A0xb6b23a4a6855b792!2sVergaderlocatie%20Rotterdam%20View!5e0!3m2!1snl!2snl!4v1567754856177!5m2!1snl!2snl"></iframe>
      </div>
    </div>
  </section>
  <!--eight section / Contact beschikbaarheid-->
  {% include "../contact/contact.html" %}
</main>
{% endif %}
