/* Basic site styling
  ================================== */
html,
body{
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  height: 100%;
  color: #424242!important;
  scroll-padding-top: 5rem;
}

/* Custom
  ================================== */
h1, h2, h3, th {
  font-family: 'Rubik', sans-serif;
}

p,td {
  font-family: 'PT Sans', sans-serif;
}
p,
td,
th {
  color: #424242!important;
}

.nav-mt {
  padding-top: 5rem;
}

.bg-grey {
  background-color: #424242;
}

.bg-red {
  background-color:#E45F56;
}

.bg-lightgrey {
  background-color: rgba(66, 66, 66, 0.04);
}

.text-red {
  color:#E45F56;
}

.text-shadow {
  text-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
}

.btn {
  display: inline-block;
  color: white;
  border: 0.1rem solid #E45F56;
  border-radius: 0.2rem;
  padding: 0.6rem;
  background-color: #E45F56;
  transition: all .2s ease-in-out;
}

.btn:hover {
  color: white!important;
    transform: scale(1.1);
  }

.vh-30 {
  height:30vw;
}
