/* === contact === */
.contact {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1040;
  top:0;
  overflow-y: auto;
}

.slide-in {
  left: -100%;
  transition: 1s ease-in-out;
}

.slide-out {
  left: 0;
  transition: 1s ease-in-out;
}

.btn-x {
  width: 3rem;
}
