<section id="form-beschikbaarheid" class="container-fluid col-lg-6 col-sm-12 contact p-2 slide-in">
  <form class="py-3">
    <div class="row m-0 justify-content-between">
      <div class="col-10 pt-3">
        <p>Beschikbaarheid opvragen</p>
        <p>Neem contact met ons op via onderstaand formulier en wij informeren u binnen 24 uur over de beschikbaarheid van de ruimte.</p>
        <p>Velden met een * zijn verplicht</p>
      </div>
      <div class="col text-right">
        <button class="btn btn-x" id="close-btn">X</button>
      </div>
    </div>
    <div class="p-3">
      <div class="form-group">
        <label for="datum ">Voorkeursdatum*</label>
        <input type="date" id="datum" name="datum" class="form-control">
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="starttijd">Starttijd</label>
          <input type="time" id="Starttijd" name="starttijd" class="form-control">
        </div>
        <div class="form-group col-6">
          <label for="starttijd">Eindtijd</label>
          <input type="time" id="eindtijd" name="eindtijd" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="personen">Aantal personen</label>
        <input type="number" id="personen" name="personen" class="form-control">
        </div>
      <div class="form-group">
        <label for="aanhef">Aanhef</label>
        <div class="row pl-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aanhef" id="radio1" value="Dhr." checked>
            <label class="form-check-label" for="radio1">
              Dhr.
            </label>
          </div>
          <div class="form-check form-check-inline pl-3">
            <input class="form-check-input" type="radio" name="aanhef" id="radio2" value="Mevr.">
            <label class="form-check-label" for="radio2">
              Mevr.
            </label>
          </div>
        </div>
      </div>
      <label for="voornaam">Naam</label>
      <div class="row">
        <div class="form-group col-md-5">
          <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam" class="form-control w-100">
        </div>
        <div class="form-group col-md-7">
          <input type="text" id="achternaam" name="achternaam" placeholder="Achternaam" class="form-control w-100">
        </div>
      </div>
      <div class="form-group">
        <label for="bedrijfsnaam">Bedrijfsnaam</label>
        <input type="text" id="bedrijfsnaam" name="bedrijfsnaam" placeholder="Optioneel" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="voorbeeld@voorbeeld.nl" class="form-control">
      </div>
      <div class="form-group">
        <label for="telefoon">Telefoonnummer</label>
          <input type="number" id="telefoon" name="telefoon" class="form-control">
      </div>
      <div class="form-group">
        <label for="vragen">Vragen/Opmerkingen</label>
        <textarea name="name" rows="4" cols="100" class="form-control"></textarea>
      </div>
      <div class="text-center">
        <input class="btn shadow-sm" type="submit" value="Submit">
      </div>
    </div>
  </form>
</section>
