<footer class="container-fluid py-5 mt-5 bg-grey">
  <div class="row">
    <div class="d-flex col-sm-12 col-md-4 text-white mb-4">
      <div class="ml-5 mx-md-auto">
        <h2>Informatie</h2>
        <ul class="text-white list-inline">
          <li>
            <a href="https://puurevents.nl/privacybeleid/" target="_blank" title="Privacy- en cookiebeleid">Privacy- en cookiebeleid</a>
          </li>
          <li>
            <a href="https://puurevents.nl/algemene-voorwaarden/" target="_blank" title="voorwaarden">Voorwaarden</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex col-sm-12 col-md-4 text-white mb-4">
      <div class="ml-5 mx-md-auto">
        <h2>Onze websites</h2>
        <ul class="text-white list-inline">
          <li>
            <a href="https://www.puuramsterdam.nl/" target="_blank" title="Puur* Amsterdam">Puur Amsterdam</a>
          </li>
          <li>
            <a href="https://www.puurutrecht.nl/" target="_blank" title="Puur* Utrecht">Puur Utrecht</a>
          </li>
          <li>
            <a href="https://www.puurrotterdam.nl/" target="_blank" title="Puur* Rotterdam">Puur Rotterdam</a>
          </li>
          <li>
            <a href="https://www.puuruitjes.nl/" target="_blank" title="Puur* Uitjes">Puur Uitjes</a>
          </li>
          <li>
            <a href="https://puurevents.nl/" target="_blank" title="Puur* Events">Puur Events</a>
          </li>
          <li>
            <a href="http://www.puurfeesten.nl/" target="_blank" title="Puur* Feesten">Puur Feesten</a>
          </li>
          <li>
            <a href="https://mysterium.nl/" target="_blank" title="De beste Escaperoom van Utrecht">Escape room Mysterium</a>
          </li>
          <li>
            <a href="https://degrotewerf.nl/" target="_blank" title="Vergaderen in hartje Utrecht? Bekijk de Grote Werf">Vergaderruimte De Grote Werf</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex col-sm-12 col-md-4 text-white mb-4">
      <div class="ml-5 mx-md-auto">
        <h2>Volg ons op</h2>
        <a href="https://www.facebook.com/puurevents" target="_blank" title="Facebook Puur* events"><i class="fab fa-facebook-f"></i></i></a>
        <a href="https://twitter.com/puurevents" target="_blank" title="Twitter Puur* events"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCtKgT36tihBaOw6MqTG7ssQ" target="_blank" title="Youtube Puur* events"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/puur-events" target="_blank" title="Linkedin Puur* events"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
