/* === header === */
header {
  height: 2rem;
}

.hero {
  background-image: url("/images/rtm-water.png");
  filter: opacity(3);
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
}



.overlay {
  height: 100%;
  background-color: rgba(53, 53, 53, 0.45);
}
