<header class="container-fluid fixed-top bg-white px-0">
  <div class="row mx-0">
    <div class="col">
      <p class="text-right m-1">Bel ons voor meer informatie <a href="tel:+3110-7271045" class="text-red">010-7271045</a></p>
    </div>
  </div>
</header>
<div class="hero container-fluid bg-image h-75 px-0">
  <div class="overlay text-center text-shadow">
    <div class="row m-0 nav-mt h-50">
      <div class="col pt-3 mt-auto">
        <h1>Vergaderen in het hart van Rotterdam?</h1>
      </div>
    </div>
    <div class="row m-0 pt-5 pb-5 h-50 text-uppercase">
      <div class="col-sm-12 col-md-6 text-md-right">
        <a id="beschikbaar-btn" class="contact-slide shadow-sm btn" href="#contact">Is de ruimte beschikbaar?</a>
      </div>
      <div class="col-sm-12 col-md-6 text-md-left">
        <a id="informatie-btn" class="shadow-sm btn" href="#form-informatie">Wilt u meer informatie?</a>
      </div>
    </div>
  </div>
</div>
