/* === navigatie === */
p,
a {
    color: black;
}
nav{
  top: 2rem!important;
}
.navbar a {
    text-transform: uppercase;
    color: white !important;
}

.navbar-brand {
padding:0;
}

.navbar-brand img {
  max-height: 4rem;
  filter: drop-shadow(0 .125rem .25rem rgba(0,0,0,.2));
}

.nav-link:hover {
    border-bottom: 0.1rem solid #E45F56;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler {
    font-size: 1.6rem;
}

.navbar-toggler .navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bgUp {
  background-color: rgba(0,0,0,0.0) !important;
  transition: background-color 0.2s ease-in-out;
}
.bgDown{
  border-bottom: 0.1rem solid #E45F56;
  background-color: #424242 !important;
  transition: background-color 0.2s ease-in-out;
}
