<nav class="navbar navbar-expand-md bgUp fixed-top">
  <a class="navbar-brand" href="#"><img src="images/rotterdam-view-logo-white.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#over">Over</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#slider">Foto's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#prijzen">Prijzen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#faciliteiten">Faciliteiten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#catering">Catering</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#form-informatie">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-shadow" href="#locatie">Locatie</a>
      </li>
    </ul>
  </div>
</nav>
